<!-- header -->
<header>
<!--     <ul class="nav nav-tabs"> -->
<!--         <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li> -->
<!--         <li routerLinkActive="active"><a routerLink="/inventory">Inventory</a></li> -->
<!--         <li routerLinkActive="active"><a routerLink="/about">About Us</a></li> -->
<!--     </ul> -->
<app-navbar>></app-navbar> 
</header>

<main>
<div class="container-fluid  justify-content-md-center ">
<div class="row justify-content-md-center mt-4 " style="height:40px">
</div>
    <router-outlet></router-outlet>
</div>
</main>

<!-- footer -->
<footer>
    <p>
        <a href="http://natedennis.com" target="_top">Full Stack</a>
    </p>
    <p>
        <a href="http://natedennis.com" target="_top">natedennis.com</a>
    </p>
</footer>

