h1 {
	text-decoration: underline;
}

.red-title { 
	color: red;
}

.large-title {
	font-size:4em;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /*Remve the edge padding needed for mobile*/
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /*Navbar positioning foo*/
  .navbar-wrapper {
/*     margin-top: 20px; */
/*     margin-bottom: -90px; Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /*The navbar becomes detached from the top, so we round the corners*/
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /*Bump up size of carousel content*/
  .carousel-caption p {
/*     margin-bottom: 20px; */
    font-size: 21px;
    line-height: 1.4;
  }

}
