@media screen and (max-width:1000px) and (min-width:200px) {
  .navbar-right {
    float: right!important;
  }
  .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    overflow: visible!important;
    border: none;
    margin-right: 15px;
  }
  .navbar-nav>li {
    float: left;
    margin: 5px 0;
  }
  .navbar-header {
    float: left
  }
  .navbar-toggle {
    display: none
  }

}